body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
  }

.container {
    text-align: center;
    margin: 50px auto auto auto;
    padding: 0 auto;
    max-width: 400px;
}

.form-login {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}

input[type=text], input[type=password]{
	width: 60%;
	height: 10px;
	background: #e0dede;
	justify-content: center;
	margin: 10px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.login{
	width: 90%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #55af4d;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.login:hover{
	background: #76c27a;
}

.cancel-login{
	width: 30%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #f54747;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
	margin: 30px auto;
}

.cancel-login:hover{
	background: #f56f6f;
}